.header {
  padding: 5px 0;
  // .header__body
  &__body {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  // .header__logo
  &__logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    .logoText {
      display: flex;
      font-size: 2.5rem;
      font-weight: 700;
      .letterRed {
        color: $red;
      }
      .letterOrange {
        color: $yellow;
      }
      .letterBlue {
        color: $blue;
      }
      .letterGreen {
        color: $green;
      }
    }
    img {
      width: 100px;
      height: 80px;
      object-fit: contain;
    }
  }
  // .header__content
  &__content {
    margin: 0px auto 0px 0px;
  }
}

.menu {
  // .menu__list
  &__list {
    display: flex;
    gap: 20px;
  }
  // .menu__link
  &__link {
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s;
    padding: 0px 0px 10px 0px;
    border-bottom: 2px solid #ffffff00;
    color: #9e9898;
    @media (any-hover: hover) {
      &:hover {
        border-bottom: 2px solid $yellow;
        color: $yellow;
      }
    }
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 25px;
  &__bg {
    width: 30px;
    height: 30px;
    transition: all 0.3s;
    &_black {
      background: url("../assets/moon.svg") no-repeat center / cover;
    }
    &.white {
      background: url("../assets/sun.svg") no-repeat center / cover;
    }
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
.actions__language {
  transition: all 0.3s;
  &.ru {
    background: url("../public/russia.png");
    background-size: contain;
    width: 30px;
    height: 30px;
  }
  &.uk {
    background: url("../public/UK.png");
    background-size: contain;
    width: 30px;
    height: 30px;
  }
  @media (any-hover: hover) {
    &:hover {
      transform: scale(1.2);
    }
  }
}
