@import "utils/global";
@import "components/typesChart/typesChart";
@import "./components/viewChart/viewChart";
@import "./components/viewChartExamples/viewChartExamples";
@import "components/parametersChartMain/parametersChartMain";
@import "components/parametersChartAdditional/parametersChartAdditional";
@import "components/parametersChartAll/parametersChartAll";
@import "components/loader/loader";
@import "components/tables/tables";

$fontFamily: "";
$fontSize: 16;

$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1440;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$red: rgb(226, 86, 89);
$yellow: rgb(242, 143, 39);
$blue: rgb(77, 122, 169);
$green: rgb(119, 184, 180);

@import "./utils/null.scss";
@import "./components/header/header.scss";
@import "./components/popupLanguage/popupLanguage.scss";
@import "./components/pageCreate/create.scss";
@import "./components/pageInfo/info.scss";
@import "./components/pageMain/main.scss";
@import "./components/pageGallery/gallery.scss";
@import "./components/aside/aside.scss";
@import "./components/examples/examples";

html {
  background-color: #ffffff;
  color: #9e9898;
  &.dark {
    background-color: #101010;
    color: #ffffff;
    .page,
    .data-actions,
    .settings-actions,
    .btn-add,
    .popup__content,
    .menu__link,
    .gallery-block,
    .info-page,
    .info-page__section,
    .main-page__start,
    .main-page__gallery,
    .aside,
    a {
      background-color: #101010;
      color: #ffffff;
    }
    .popup {
      &::before {
        background-color: hsla(0, 0%, 0%, 0);
      }
    }
    .popup__close {
      &::before {
        background-color: hsla(0, 0%, 100%);
      }
      &::after {
        background-color: hsla(0, 0%, 100%);
      }
    }
    .aside {
      background-image: url('../assets/gif-unscreen.gif');
      .city,
      .currency-converter__h3 {
        color: #ffffff;
      }
    }
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}
.page {
  flex: 1 1 auto;
  background: #fafafa;
  position: relative;
}

.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
}

.main-title {
  font-size: 31px;
  margin: 0px 0px 15px 0px;
}
