@import "./Max/global";
@import "Max/components/typesChart/typesChart";
@import "./Max/components/viewChart/viewChart";
@import "./Max/components/viewChartExamples/viewChartExamples";
@import "Max/components/parametersChartMain/parametersChartMain";
@import "Max/components/parametersChartAdditional/parametersChartAdditional";
@import "Max/components/parametersChartAll/parametersChartAll";
@import "Max/components/loader/loader";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-logic-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.menu {
  display: flex;
  justify-content: center;
}
