$red: rgb(226, 86, 89);
$yellow: rgb(242, 143, 39);
$blue: rgb(77, 122, 169);
$green: rgb(119, 184, 180);

.main-page {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__sections {
    width: 82%;
  }

  &__start {
    background: #fafafa;
    padding: 40px 0;
  }

  &__animation {
    height: 125px;
    margin-bottom: 40px;
    position: relative;
  }

  &__h1 {
    margin-bottom: 10px;
  }

  &__h2 {
    margin: 10px 0 30px;   
    color: #bbb;
    font-weight: 300;
  }

  &__button {
    margin-bottom: 40px;
  }

  &__images {
    display: flex;
    justify-content: space-evenly;
  }

  &__img {
    width: 50px;
  }

  &__gallery {
    background-color: #fff;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: 0 -1px 2px -1px rgb(0 0 0 / 30%), 0 1px 2px -1px rgb(0 0 0 / 40%);
    border: 1px solid transparent;
  }

  &__gallery-h2 {
    margin-bottom: 20px;
    font-weight: normal;
  }

  &__text {
    padding: 20px 0;
    text-align: left;
  }
}

.img-block {
  width: 140px;
  font-size: 14px;
}

.animation__chart-column {
  position: absolute;
  bottom: 0;
  margin-right: 7px;
  border-radius: 2px;
  width: 15px;
  height: 65%;
  transition: 0.5s;
}

.gallery-block-main {
  background: #fafafa;
}
